@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 17%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1100px);
  animation: autoRun 75s linear infinite;
  z-index: 2;
  align-self: center;
}

@keyframes autoRun {
  from {
    transform: perspective(1100px) rotateX(-3deg) rotateY(0deg);
  }
  to {
    transform: perspective(1100px) rotateX(-3deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
  align-items: center;
  justify-content: center;
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .slider .item .card {
  width: 100%;
  padding: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.179);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  cursor: pointer;
}

.banner .slider .item .card:hover {
  background-color: rgba(255, 255, 255, 0.462);
}

.card-body {
  text-align: justify;
  padding: 20px; /* Padding dalam card */
}

/* Contoh CSS untuk card title */
.card-title {
  font-size: 1.2rem; /* Ukuran font judul card */
  font-weight: bold; /* Ketebalan font judul card */
  margin-bottom: 10px; /* Jarak bawah dari judul ke konten */
}

/* Contoh CSS untuk card text */
.card-text {
  font-size: 1rem; /* Ukuran font teks card */
  line-height: 1.6; /* Tinggi baris teks */
}

/* Contoh CSS untuk card link */
.card-link {
  text-decoration: none; /* Menghapus garis bawah pada link */
  color: #007bff; /* Warna teks link */
}

/* Contoh CSS untuk card footer */
.card-footer {
  background-color: #f7f7f7; /* Warna latar belakang footer card */
  padding: 10px; /* Padding dalam footer card */
  text-align: center; /* Posisi teks tengah dalam footer card */
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 7em;
  line-height: 0.5em;
  color: #25283b;
  position: relative;
}

.banner .content h1::after {
  inset: 0;
  font-size: 0.5em;
  content: attr(data-content);
  color: #25283b;
  -webkit-text-stroke: 2px #d2d2d2;
}

.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
}

.banner .content h2 {
  font-size: 3em;
}

.banner .content .model {
  background-image: url(images/man.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

.navigation {
  position: fixed;
  bottom: 10px; /* Atur jarak dari atas */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Pastikan navigasi di atas konten lain */
  display: flex;
  background-color: rgba(255, 255, 255, 0.179);
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
}

.navigation button {
  width: 190px;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.navigation button:hover {
  background-color: #ddd;
}

.ppp {
  width: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; /* Pastikan navigasi di atas konten lain */
  background-color: rgba(255, 255, 255, 0.179);
  padding: 10px;
  border-radius: 5px;
  bottom: -475px;
  position: relative;
}

.ppp button {
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.ppp button:hover {
  background-color: #ddd;
}

/* Gaya untuk modal */
.modal {
  display: none; /* Sembunyikan modal secara default */
  position: fixed; /* Tetapkan posisi tetap */
  z-index: 1000; /* Atur z-index agar modal berada di atas konten lainnya */
  left: 0;
  top: 0;
  width: 100%; /* Lebar 100% dari layar */
  height: 100%; /* Tinggi 100% dari layar */
  overflow: auto; /* Izinkan scroll jika konten lebih dari satu layar */
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Warna latar belakang semi-transparan */
}

/* Gaya untuk konten modal */
.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%; /* Lebar konten modal */
  max-width: 600px; /* Lebar maksimum konten modal */
  display: flex; /* Tampilkan konten dalam format flex */
  justify-content: center; /* Pusatkan konten horizontal */
  align-items: center; /* Pusatkan konten vertikal */
}

/* Gaya untuk tombol close */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

/* Gaya untuk bagian tubuh modal */
.modal-body {
  display: flex;
  flex-direction: row; /* Atur orientasi flex menjadi row */
  align-items: center; /* Pusatkan konten vertikal di dalam body */
  justify-content: space-around; /* Pusatkan konten horizontal dengan ruang di sekitar */
  width: 100%;
  padding: 20px;
}

/* Gaya untuk gambar modal */
.modal-image {
  flex: 1; /* Biarkan gambar mengambil sebagian besar ruang di body */
  text-align: center; /* Pusatkan gambar horizontal */
}

.modal-image img {
  max-width: 100%; /* Gambar tidak melebihi lebar maksimum dari ruang yang tersedia */
  height: auto; /* Biarkan tinggi gambar disesuaikan secara otomatis */
}

/* Gaya untuk card modal */
.modal-card {
  flex: 1; /* Biarkan card mengambil sebagian besar ruang di body */
  padding: 0 20px; /* Berikan padding di sisi kanan dan kiri card */
}

@media screen and (max-width: 1024px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }

  .banner .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
  }

  .banner .content .author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }

  .banner .slider .item .card {
    width: 100%;
    padding: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.179);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0%;
  }
  .ppp {
    bottom: -1100px;
  }

  .card.blink {
    animation: blink 1.5s infinite;
  }

  @keyframes blink {
    0% {
      background-color: rgba(255, 255, 255, 0.462);
    }
    50% {
      background-color: rgba(255, 255, 255, 0.179);
    }
    100% {
      background-color: rgba(255, 255, 255, 0.462);
    }
  }
}

@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
    top: 17%;
  }

  @keyframes autoRun {
    from {
      transform: perspective(300px) rotateX(-3deg) rotateY(0deg);
    }
    to {
      transform: perspective(300px) rotateX(-3deg) rotateY(360deg);
    }
  }

  .banner .content h1 {
    font-size: 3em;
  }

  .banner .slider .item .card {
    width: 100%;
    padding: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.179);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0%;
  }

  .ppp {
    bottom: -730px;
  }

  .navigation button {
    width: 90px;
  }
}
