<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- WordPress Permalinks Rules -->
                <rule name="WordPress: Permalinks" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>

                <!-- Custom Rewrite Rule for experiment.php -->
                <rule name="Experiment PHP Clean URL" stopProcessing="true">
                    <match url="^experiment$" />
                    <action type="Rewrite" url="/app/public/experiment.php" />
                </rule>
                    <rule name="Experiment PHP Clean URL" stopProcessing="true">
                    <match url="^topdownmsu$" />
                    <action type="Rewrite" url="/app/public/topdownmsu.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
